---
layout: default
---

<section class="hero is-fullheight is-default">
	<div class="hero-body">
		<div id="info-container" class="container has-text-centered">
			<div class="columns is-vcentered">
				<div class="column is-two-thirds is-centered has-nice-link" itemscope itemtype="http://schema.org/Person">
					<figure class="image is-256x256" id="profile-pic-wrap">
					  <img src="image.png" id="profile-pic" class="profile-pic" class="animated zoomIn" width="256" height="256" itemprop="image">
					</figure>

					<h1 class="title is-2" itemprop="name">Bernhard Wittmann</h1>
					<h2 class="subtitle is-4" itemprop="description">Student &amp; Developer</h2>
					<br>
					<p class="has-text-centered">
						<a class="button is-large is-white" target="_blank" href="http://xing.to/Bernhard_Wittmann" data-contact-link="xing">
							<span class="icon">
								<i class="fab fa-xing"></i>
							</span>
							<span>Xing</span>
						</a>
						<a class="button is-large is-white" target="_blank" href="http://linkedin.com/in/bernhard-wittmann" data-contact-link="linkedin">
							<span class="icon">
								<i class="fab fa-linkedin"></i>
							</span>
							<span>LinkedIn</span>
						</a>
						<a class="button is-large is-white" target="_blank" href="https://github.com/berniwittmann" data-contact-link="github">
							<span class="icon">
								<i class="fab fa-github"></i>
							</span>
							<span>GitHub</span>
						</a>
						<a class="button is-large is-white" target="_blank" href="https://gitlab.com/berniwittmann" data-contact-link="gitlab">
							<span class="icon">
								<i class="fab fa-gitlab"></i>
							</span>
							<span>GitLab</span>
						</a>
						<a class="button is-large is-white" target="_blank" href="https://dev.to/berniwittmann" data-contact-link="dev">
							<span class="icon">
								<i class="fab fa-dev"></i>
							</span>
							<span>Blog Posts</span>
						</a>
					</p>
					<br>
					<br>
					<p class="has-text-centered">
							<a id="download-button" class="button is-primary is-large" href="/contact">Contact</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-foot scroll-hint-container">
		<div class="container">
			<div class="tabs is-centered">
				<ul>
					<li>
						<i id="scroll-hint" class="fa fa-caret-down" aria-hidden="true"></i>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="hero is-large is-gray">
	<div id="about-me" class="hero-body">
		<div class="container">
			<div class="flex-columns">
				<div class="flex-column has-nice-link">
					<h2 class="title is-2 has-text-centered">Hi 👋   I'm Bernhard</h2>
					<p class="mb-10 is-size-4 has-text-centered-mobile">
						I'm a Full Stack Web Developer from Germany, who is currently living in Austria.
						I started coding at age thirteen and am more passionate about it than ever.
						Hopefully you'll get some insights about myself and my work on this site.
					</p>
					<br>
					<h5 class="title is-5">Current Positions</h5>
					<p class="is-size-5 has-text-left">Developer @ <a target="_blank" href="https://www.digitales-wartezimmer.org/">Digitales Wartezimmer</a></p>
					<p class="is-size-5 has-text-left">Developer and Webmaster @ <a target="_blank" href="https://www.handballismaning.de/">TSV Ismaning Handball</a></p>
					<br>
					<h5 class="title is-5">Former Positions</h5>
					<p class="is-size-5 has-text-left">Developer @ <a target="_blank" href="https://www.home-fox.de/">HomeFox</a></p>
					<p class="is-size-5 has-text-left">Development Intern @ <a target="_blank" href="https://www.senacor.com/">Senacor Technologies AG</a></p>
				</div>
				<div class="flex-column flex-image">
					<figure class="image is-2by3">
						<img src="image2.png" class="profile-pic-2" width="256" itemprop="image">
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="hero is-light is-medium">
	<div id="blogging" class="hero-body">
		<div class="container ">
			<h2 class="title is-2">Most recent Blog posts</h2>
			<h4 class="title is-4 has-nice-link" style="font-weight: 400">I occasionally blog about my development experiences on <a target="_blank" href="https://dev.to/berniwittmann" data-contact-link="dev">DEV.to</a></h4>

			<template id="blog-post-template">
				<div class="column is-half-tablet is-one-quarter-desktop d-flex">
					<div class="card">
						<div class="card-image">
					    <figure class="image is-3by1">
					      <img src="">
					    </figure>
					  </div>
						<div class="card-content">
							<a class="title is-4 mb-10" href="" target="_blank"></a>
							<p class=subtitle></p>
						</div>
						<div class="card-footer">
							<p class="card-footer-item">
								<span>
									<a href="" target="_blank">Read Now</a>
								</span>
							</p>
						</div>
					</div>
				</div>
			</template>
			<template id="read-more-posts-template">
				<div class="column is-half-tablet is-one-quarter-desktop d-flex">
					<a target="_blank" href="https://dev.to/berniwittmann" class="flex-link" data-contact-link="dev">
						<div class="card read-more-card">
							<div class="card-content">
								<p class="title is-4 mb-10 has-text-centered">Read more on</p>
								<p class="title is-4 mb-10 has-text-centered"><i class="fab fa-3x fa-dev" title="my DEV Profile"></i></p>
							</div>
						</div>
					</a>
				</div>
			</template>
			<div class="columns mt-30" id="blog-posts">

			</div>
		</div>
	</div>
</section>

<section class="hero is-large">
	<div id="academia" class="hero-body container">
		<div class="columns is-vcentered">
			<div class="column has-text-centered has-nice-link is-4">
				<p><i class="fas fa-graduation-cap fa-7x"></i></p>
				<br/>
				<h4 class="title is-4" style="font-weight: 400">I just finished my Masters Degree in Software Engineering with honors at Ulm University.</h4>
			</div>
			<div class="column is-7 is-offset-1 has-nice-link">
				<h2 class="title is-2 has-text-centered-mobile">Academia</h2>
				<div class="columns is-multiline">
							<div class="column is-one-third academia-logo">
								<div class="dropdown is-hoverable is-up">
								  <div class="dropdown-trigger">
										<figure class="image is-128x128" aria-haspopup="true" aria-controls="dropdown-menu-uulm">
										  <img width="128" height="128" src="assets/academia-logos/uulm.png">
										</figure>
								  </div>
								  <div class="dropdown-menu" id="dropdown-menu-uulm" role="menu">
								    <div class="dropdown-content">
								      <div class="dropdown-item">
								        <strong>Ulm University</strong>
												<p>M.Sc. Software Engineering</p>
								      </div>
								    </div>
								  </div>
								</div>

							</div>
							<div class="column is-one-third">
								<div class="dropdown is-hoverable is-up academia-logo">
								  <div class="dropdown-trigger">
										<figure class="image is-128x128" aria-haspopup="true" aria-controls="dropdown-menu-berkeley">
										  <img width="128" height="128" src="assets/academia-logos/berkeley.png">
										</figure>
								  </div>
								  <div class="dropdown-menu" id="dropdown-menu-berkeley" role="menu">
								    <div class="dropdown-content">
								      <div class="dropdown-item">
								        <strong>University of California, Berkeley</strong>
												<p>Summer Session</p>
								      </div>
								    </div>
								  </div>
								</div>

							</div>
							<div class="column is-one-third">
								<div class="dropdown is-hoverable is-up academia-logo">
								  <div class="dropdown-trigger">
										<figure class="image is-128x128" aria-haspopup="true" aria-controls="dropdown-menu-tum">
										  <img width="128" height="128" src="assets/academia-logos/tum.png">
										</figure>
								  </div>
								  <div class="dropdown-menu" id="dropdown-menu-tum" role="menu">
								    <div class="dropdown-content">
								      <div class="dropdown-item">
								        <strong>Technological University Munich</strong>
												<p>B.Sc. Management and Technology</p>
								      </div>
								    </div>
								  </div>
								</div>
							</div>
						</div>
					</div>
		</div>
	</div>
</section>



<section class="hero is-large is-gray">
	<div id="skills" class="hero-body container">
		<div class="columns is-vcentered is-7">
			<div id="latest-repos-container" class="column has-nice-link">
				<h2 class="title is-2">Skills</h2>
				<div class="columns is-multiline">
					<div class="column is-one-third">
						<h4 class="title is-4 element-tt">
							<i class="fab fa-python fa-3x"></i>
							<p>Python</p>
						</h4>
					</div>
					<div class="column is-one-third">
						<h4 class="title is-4 element-tt">
							<i class="fab fa-java fa-3x"></i>
							<p>Java</p>
						</h4>
					</div>
					<div class="column is-one-third">
						<h4 class="title is-4 element-tt">
							<i class="fab fa-node fa-3x"></i>
							<p>NodeJS</p>
						</h4>
					</div>

					<div class="column is-one-third">
						<h4 class="title is-4 element-tt">
							<i class="fab fa-vuejs fa-3x"></i>
							<p>Vue</p>
						</h4>
					</div>
					<div class="column is-one-third">
						<h4 class="title is-4 element-tt">
							<i class="fab fa-react fa-3x"></i>
							<p>React</p>
						</h4>
					</div>
					<div class="column is-one-third">
						<h4 class="title is-4 element-tt">
							<i class="fab fa-angular fa-3x"></i>
							<p>Angular</p>
						</h4>
					</div>
				</div>
			</div>
			<div class="column has-text-centered has-nice-link is-offset-1 is-4">
				<p class="is-hidden-mobile"><i class="fas fa-cogs fa-6x"></i></p>
				<br/>
				<h4 class="title is-4" style="font-weight: 400">
						I'm working with Frontend as well as with Backend technologies. The ones listed are just a small excerpt. You can find out more on GitHub or GitLab
				</h4>
				<p class="mt-10">
					<a class="button is-large" target="_blank" href="https://github.com/berniwittmann" data-contact-link="github">
						<span class="icon">
							<i class="fab fa-github"></i>
						</span>
						<span>GitHub</span>
					</a>
					<a class="button is-large" target="_blank" href="https://gitlab.com/BerniWittmann" data-contact-link="gitlab">
						<span class="icon">
							<i class="fab fa-gitlab"></i>
						</span>
						<span>GitLab</span>
					</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="section hero is-fullheight is-default is-bold">
	<div id="projects" class="container">
		<h2 class="title is-2">Projects</h2>
		<p class="mb-30 is-size-5">Some Projects I have worked on in the past or am currently working on</p>
		<div class="columns is-multiline">
			{% for app in site.apps reversed %}
			<div class="column is-mobile is-half-tablet is-one-third-desktop">
				<a href="{% if app.external_url %}{{ app.external_url }}{% else %}{{ app.url }}{% endif %}">
					<div class="box is-clipped">
						<figure class="image">
							{% comment %}
								This mess is needed because we don't know the extension of the thumbnail upfront...
							{% endcomment %}

							{% for file in site.static_files %}
								{% assign path = '/assets/' | append: app.slug | append: '/thumbnail' %}
								{% if file.path contains path %}
									<img src="{{ file.path }}">
								{% endif %}
							{% endfor %}
						</figure>
						<h2 class="title">
							<span>{{ app.title }}</span>
							{% if app.is_prerelease %}
								<span class="tag is-small is-info">Prerelease</span>
							{% elsif forloop.first %}
								<span class="tag is-small is-success">New!</span>
							{% endif %}
							<span class="tag is-small">{{ app.type }}</span>
						</h2>
						<p class="subtitle is-6">{{ app.subtitle }}</p>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
		<div class="has-text-centered ">
			<p class="has-text-weight-semibold mt-30 is-size-4">Also check out my Open-Source Contributions on GitHub</p>
			<p class="mt-10">
				<a class="button is-large is-primary" href="https://github.com/berniwittmann" target="_blank" data-contact-link="github">
					<span class="icon">
						<i class="fab fa-github"></i>
					</span>
					<span>GitHub</span>
				</a>
			</p>
		</div>
	</div>
</section>

<section class="section hero is-gray">
	<div id="footer" class="container">
		<p class="has-text-centered">
			Feel free to contact me
		</p>
		<br>
		<p class="has-text-centered">
				<a id="download-button" class="button is-primary is-outlined is-large" href="/contact">Contact</a>
		</p>
		<br>
		<div class="mt-10">
			<p class="has-text-left is-pulled-left"><i class="far fa-copyright"></i> 2019 Bernhard Wittmann</p>
			<p class="has-text-right is-pulled-right">
				<a class="button is-light" id="backToTopButton">
					<span class="icon is-small mr-5">
					 	<i class="fa fa-angle-up"></i>
				 	</span>
				 	 Back To Top
			 </a>
			</p>
		</div>
	</div>
</section
